# Virtual Environments
venv/
.venv/
.venv312/
.venv_py312/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Project Outputs & Checkpoints
# log/ (removed to allow tracking results)
*.pth
*.pth.tar
*.pt

# Data & Scratch
datasets/
scratch/
artifacts/
*.mp4
*.zip
*.pdf

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db